<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="menu-wrapper">
    <button class="hamburger-btn" (click)="toggleMenu()" *ngIf="isMobile">
        <i class="fas fa-bars"></i>
    </button>
    <div class="menu-container" [class.open]="isMenuOpen" *ngIf="!isMobile || isMenuOpen" (click)="closeMenu($event)">
        <nav class="sidebar" (click)="$event.stopPropagation()">
            <div class="menu-header">
                <button class="close-btn" (click)="toggleMenu()" *ngIf="isMobile">
                    <i class="fas fa-times"></i>
                </button>
                <div class="container">
                    <img class="imagen_menu" src="assets/login_img/Cibertec_logo_menu.png" alt="">
                    <br>
                    <hr class="linea_1">

                    <div class="profile-picture">
                        <img src="assets/login_img/user_1.jpg" alt="Foto de perfil">
                    </div>
                    <h6 class="username">{{nombreUsuario}}</h6>
                    <hr class="linea_2">
                </div>
            </div>
            <div class="menu-footer">
                <div class="cerrar_sesion">
                  <a class="logout-btn" *ngIf="isLogged" (click)="onLogOut()">
                    <img src="assets/login_img/cerrar_sesion.png" alt=""> Cerrar sesión
                  </a>
                </div>
              </div>
        </nav>
    </div>
</div>